block page
    h4 Informations
div(id='information-contenu' class='fr-mt-2w fr-mb-5w')
    div(id='information-id' class='fr-mb-2w')
        | ID !{identifiant}
    div(class='autres-informations')
        p Projet créé le
            |
            strong  !{dateCreation.date}
            |  à
            strong  !{dateCreation.heure}
        p Dernière Modification le
            |
            strong  !{dateDerniereModification.date}
            |  à
            strong  !{dateDerniereModification.heure}
        p Zone géographique :
            |
            strong  !{zoneGeographique}
        p Secteur d'activité :
            |
            strong  !{secteurActivite}
