extends base

block page
    div(class="page-mesures")
        section
            div(class="contenu")
              each mesure, index in mesures
                div(class="mesure")
                  div(class="titre")
                    h4 !{index + 1}. !{mesure.titre}
                  div(class="pourquoi")
                    div(class="titre") Pourquoi ?
                    div(class="libelle") !{include(mesure.pourquoi)}
                  div(class="comment")
                    div(class="titre") Comment appliquer cette recommandation ?
                    div(class="libelle") !{include(mesure.comment)}
              div(class="cyber-depart")
                  div(class="contenu")
                      div Aidez d’autres organisations à prendre leur cyberdépart en bénéficiant d’un diagnostic cyber gratuit et personnalisé.
                      div(class="mes-services-cyber")
                          a(href="!{mesServicesCyber}") !{mesServicesCyber}
